@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

h1 {
    font-family: 'Pacifico', cursive;
    
}

h2 {
    font-family: 'Pacifico', cursive;
}

h3 {
    font-family: 'Poppins', sans-serif;
}

h4 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}