
/************************************** Pagina Carta **************************************/

/************* Contenido del Main Carta *************/

/** Tarjetas Restaurante **/
h2 {
    font-family: 'Pacifico', cursive;
    padding-top: 10px;
    padding-bottom: 10px;

    @include mobile {
        font-family: 'Pacifico', cursive;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }

}

h4 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.column-2.carta {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
    row-gap: 1rem;

    @include mobile {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}

.plato-carta {
    display: flex;
    align-items: center;
    border: 1px solid $eleventh-color;
    border-radius: 6px;
}

.img-plato-carta{
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    
    img {
        max-width: 100px;
        max-height: 90px;
    }
}

.title-plato-carta {
    border: 1px solid $eleventh-color;
    border-bottom: none;
    border-top: none;
    flex-basis: 60%;
    padding: 0 1rem;
}

.precio-plato-carta{
    display: flex;
    flex-basis: 15%;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

