
/************************************** Pagina Nosotros **************************************/

/************* Contenido del Main Nosotros *************/

.fondoimagen {
    background-image: url(../imagenes/fondo-chefs-labarra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.sobreimagen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: $color-rgba1;

    h2 {
        text-align: center;
        font-family: $parapgraph-typography;
        color: $eighth-color;
        width: 100%;
        padding-top: 20px;
    }

    p {
        color: $eighth-color;
        font-family: $parapgraph-typography;
        padding-bottom: 40px;
        text-align: center;
    }
}

.contenedor-chefs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 30px;

    @include mobile {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 50px;
    }
}

.chef {
    margin: 20px;
    width: 300px;
    height: auto;

    @include mobile {
        margin: 20px;
        width: 300px;
        height: auto;
        display: flex;
        justify-content: center;
    }

    img {
        width: 300px;
        height: 300px;

        @include mobile {
            width: 200px;
            height: 200px;
        }
    }
}




