
/************************************** Pagina Reservaciones **************************************/

/************* Formulario Reserva 1 *************/

.reserva {
    background-image: linear-gradient($color-rgba2, $color-rgba2), url(../imagenes/fondo-reservas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formreservas1 {
    display: flex;
    flex-direction: column;
}

.inputcontenedor__reserva {
    padding-left: 50px;
    padding-bottom: 20px;
    align-items: center;
}

.titlereserva {
    color: $eighth-color;
    font-family: 'Pacifico', cursive;
    padding-left: 50px;
}

.label__reserva {
    color: $eighth-color;
    font-family: 'Poppins', sans-serif;

    input {
        background-color: $secondary-color;
        color: $eighth-color;
        width: 120px;
        height: 40px;
        border: none;
        border-radius: 5px;
    }
}

.submitBtn {
    background-color: $secondary-color;
    color: $eighth-color;
    font-family: 'Poppins', sans-serif;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 10px;
    margin-left: 30%;

    &:hover {
        background-color: $nineth-color;
        color: $eighth-color;
    }
}

.input__reserva1 {
    padding: 5px;
    width: 50%;
    margin-top: 10px;
    background: transparent;
    color: $eighth-color;
}

.select__reserva {
    background-color: $secondary-color;
    color: $eighth-color;
    padding-left: 2%;
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 40px;

    &:hover {
        background-color: $nineth-color;
        color: $eighth-color;
    }
}

.platoreserva {
    width: 100%;
    height: 100%;
    transition: all ease 3s;
    transform: scale(1.0);
}

.imagereserva1 {
    width: 400px;
    height: 400px;
    margin-right: 20%; 
    margin-top: 5px;     
    overflow: hidden;
    background-color: $color-doce;

    &:hover {
        .platoreserva {
            transform: scale(1.2);
        }
    }
}

/************* Formulario Reserva 2 *************/

.reserva2 {
    background-color: $primary-color;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exclusivo {
    text-align: center;     

    h1 {
        color: $secondary-color;
        font-family: 'Pacifico', cursive;
    }

    p {
        color: $secondary-color;
        font-family: 'Poppins', sans-serif;
    }
}

.formreservas2 {
    background-color: $third-color;
    width: 80%;
    display: grid;    
    align-items: center;
    margin: 30px;
    padding-left: 30px;
    
}

.label__reserva2 {
    color: $eighth-color;
    font-family: 'Poppins', sans-serif;  
    
    input {
        background-color: $sixth-color;
        width: 120px;
        height: 40px;
        color: $eighth-color;
        border: none;
        border-radius: 5px;
    }
}

.input__reserva2 {
    padding: 5px;
    margin: 10px;
    width: 50%;
    margin-top: 10px;
    background: $eighth-color;
    color: $sixth-color;
}

.select__reserva2 {
    background-color: $sixth-color;
    color: $eighth-color;
    padding-left: 2%;
    margin: 2%;
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 40px;

    &:hover {
        background-color: $eighth-color;
        color: $sixth-color;
    }
}

.submitBtn2 {
    background-color: $sixth-color;
    color: $eighth-color;
    font-family: 'Poppins', sans-serif;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 10px;
    margin-left: 30%;
    margin-bottom: 10px;

    &:hover {
        background-color: $eighth-color;
        color: $sixth-color;
    }
}








