
/****************** Encabezados para todas las Secciones ******************/
.title-secciones {
    width: 80%;
    padding: 50px;
    background-color: $third-color;
    margin-top: 20px;
    margin-bottom: 20px;

    h1 {
        font-family: 'Pacifico', cursive;
        color: $color-trece;
    }
}