
/************* Para el Footer *************/
footer {
    width: 100%;
    padding: 50px 0px;
    background-image: url(../imagenes/background-footer.svg);
    background-size: cover;
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 6px;

    .logo {
        img {
            width: 80px;
        }
    }

    .terms {
        max-width: 350px;
        margin-top: 20px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        color: $fifth-color;
        font-size: 10px;
    }

    h3 {
        margin-bottom: 30px;
        font-family: 'Poppins', sans-serif;
        color: $sixth-color;
        font-weight: 600;
    }

    a {
        margin-top: 10px;
        font-family: 'Poppins', sans-serif;
        color: $fifth-color;
        text-decoration: none;
        font-weight: 200;

        &:hover {
            opacity: 0.8;
        }

        .fab {
            font-size: 20px;
        }
    }
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;

    p {
        margin-top: 20px;
        font-family: 'Poppins', sans-serif;
        color: $fifth-color;
    }

    hr {
        border: none;
        height: 1px;
        background-color: $fifth-color;
    }
}



