
/** MENU BOOTSTRAP **/
header {
    nav {
        background-color: $primary-color;
    }
}

.nav-link {
    font-family: 'Pacifico', cursive !important;
    color: $secondary-color !important;
}

.navbar-toggler {
    border: 0 !important;

    &:focus {
        box-shadow: none !important;
    }

    &-icon {
        filter: invert(14%) sepia(23%) saturate(5243%) hue-rotate(189deg) brightness(100%) contrast(95%);
    }

}

.navbar-collapse {
    justify-content: flex-end;
}

.btn-dark {
    a {
        color: $eighth-color;
        text-decoration: none;
    }
}
